body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c003e, #a23982);
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh;
}

.container-flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}