.navbar {
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 50px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .login {
    font-weight: bold;
    color: #333;
}