.edit-btn {
    background-color: #33cc66;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn:hover {
    background-color: #28a45c;
}

.button-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #33cc66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #28a45c;
}